In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('data/tsd_train.csv')
df_train.head(10)

,spans,text
0,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",Another violent and aggressive immigrant killi...
1,"[33, 34, 35, 36, 37, 38, 39]","I am 56 years old, I am not your fucking junio..."
2,"[0, 1, 2, 3]","Damn, a whole family. Sad indeed."
3,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]",What a knucklehead. How can anyone not know th...
4,"[32, 33, 34, 35, 36, 37, 38]","""who do you think should do the killing?""\n\nA..."
5,[],"But, but, but, is NOT a defense. It's not eve..."
6,"[39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 5...","Please people, stop using these silly, stupid ..."
7,"[0, 1, 2, 3]",Dumb.
8,"[49, 50, 51, 52, 53, 54, 147, 148, 149, 150, 1...",Obamacare is on it's last gasping breaths. Y...
9,"[32, 33, 34, 35, 36, 37, 38, 39]",CROOKED Trump = GUILTY as hell.\npathetic

In [3]:
df_test = pd.read_csv('data/tsd_test.csv')
df_test.head(10)

,spans,text
0,"[84, 85, 86, 87, 88, 89, 90, 91, 133, 134, 135...",That's right. They are not normal. And I am st...
1,"[81, 82, 83, 84, 85, 86]","""Watch people die from taking away their healt..."
2,[],tens years ago i contacted the PDR and suggest...
3,[],The parallels between the ANC and the Sicilian...
4,[],Intel Community: â€˜How can we work for a Presid...
5,"[129, 130, 131, 132, 133, 134]",I live in an area that saw major flood damage ...
6,"[35, 36, 37, 38, 39, 40, 41, 42, 43]",Elaine Marie Jeffers sounds like a sociopath ðŸ˜•.
7,"[55, 56, 57, 58, 59, 60, 61, 62, 114, 115, 116...",A rock has more mental horsepower than the ind...
8,"[37, 38, 39, 40, 41, 158, 159, 160, 161, 204, ...","Ha ha, HILLARY LOST. All you hillary fools nee..."
9,"[94, 95, 96, 97]",Yes....it is to be expected....oddly enough it...

In [4]:
df_test = pd.read_csv('data/tsd_trial.csv')
df_test.head(10)

,spans,text
0,"[15, 16, 17, 18, 19, 27, 28, 29, 30, 31]",Because he's a moron and a bigot. It's not any...
1,"[29, 30, 31, 32, 33, 34]",How about we stop protecting idiots and let na...
2,"[166, 167, 168, 169, 170, 171]","If people were smart, they would Boycott th..."
3,"[87, 88, 89, 90, 91, 92]",Trump Claimed that Russia will never invade th...
4,[],As long as your willing to pay a lot more for ...
5,"[8, 9, 10, 11, 12]",Only an idiot would use and believe anything t...
6,"[265, 266, 267, 268, 269, 270, 271, 272, 273, ...",Thanks a lot douchebag. You're the reason the ...
7,[],kick all the non human criminal illegals out o...
8,"[38, 39, 40, 41, 42, 43]",Because driving under Ontario laws is stupid e...
9,"[277, 278, 279, 280, 281, 282, 283, 284, 285, ...",You're wrong. The delay between retirement an...